#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* إخفاء أيقونة التقويم الافتراضية في جميع المتصفحات */
input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}
input[type="date"]::-webkit-input-placeholder {
  color: #b0b0b0;
}
input[type="date"]::-ms-input-placeholder {
  color: #b0b0b0;
}
input[type="date"]::placeholder {
  color: #b0b0b0;
}
input[type="date"]::-moz-placeholder {
  color: #b0b0b0;
}
input[type="date"]::-ms-clear {
  display: none;
}
input[type="date"]::-ms-reveal {
  display: none;
}
input[type="date"] {
  position: relative;
  z-index: 1;
  direction: ltr;
}

/* تحسين placeholder للبحث */
input[type="search"], input[type="text"]::placeholder {
  color: #b0b0b0;
  opacity: 1;
}
